.DS_Store
.idea
*.log
tmp/

.terraform/
*.tfstate
*.tfstate*
.direnv/
*.out

# Should never be committed
kubeconfig

# Jsonnet
vendor/

bootstrap/install-dir/**
!bootstrap/install-dir/install-config.yaml
!bootstrap/install-dir/manifests
!bootstrap/install-dir/manifests/.keep
